.main-footer {
  background: #01020a;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}

.copyright,
.author {
  color: #fff;
  font-size: 14px;
}

.author .author-link {
  color: #ffffff;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
  }

  .copyright,
  .author {
    text-align: center;
  }

  .author{
    margin-top: 10px;
  }
}
